[submodule "deck.js"]
	path = deck.js
	url = https://github.com/dsyer/deck.js
[submodule "asciidoctor-backends"]
	path = asciidoctor-backends
	url = git://github.com/asciidoctor/asciidoctor-backends.git
