@import url("spring.css");
.deck-container .slide pre {
  font-size: 90%;
  margin-bottom: 4px;
}
#footer {
	background: url("footer.png") no-repeat bottom right;
    height: 65px;
}
#slide1 {
  background: url("cover.png") no-repeat top;
}
#slide1 > h1 {
  color: white;
  padding-top: 310px;
}
#slide1 > p {
	color: white;
}
