@import url("spring.css");
.deck-container .slide pre {
  font-size: 90%;
}
#footer {
	background: url("footer.png") no-repeat bottom right;
    height: 65px;
}
#slide1 {
  background: url("badge13.jpg") no-repeat top;
}
